

body {
  color: ##584B9B;
	 	background-color: #a01cf9;    /* way to comment in CSS*/
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

.section-1 {
	width: 100%;
	height: 400px;
	background-color: #9900cc;
	z-index: 1000;

}

.section-2 {
width: 100%;
height: 750px;
background-color: #9948F3;
z-index: 1500;
}

.move-me{
width: 100px;
height: 100px;
background-color: #000;
position: sticky;
top: 0px;
right: 0px;
}

/*The void floting button - der skal køre i cirkler mod midten gif af sorthul*/

.floatingbutton {
	width: 80px;
	height: 60px;
	background-color:	<img src='bhrc.jpg;/>;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 50%;
	color: #ffffffff;
	font-size: 15px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
	position: fixed;
	transition: background hoover;
	animation: myanim-box 5s ease-in-out alternate infinite;
}

.floatingbutton:hover{
	background: #9948F3;
	cursor: pointer;
}

@keyframes myanim-box{
	0% {
	transform: rotate(90deg);
	top: 0;
	left:0;
	}
	20% {
	transform: rotate(180deg);
	top: 300px;
	left: 400px;
	}
	40%{
	transform: rotate(360deg);
	top: 200px;
	left:1200px;
	}
	60%{
	transform: rotate(180deg);
	top: 100px;
	left:1000px;
	}
	80%{
	transform: rotate(90deg);
	top: 50px;
	left:800px;
	}
	100%{
	transform: rotate(360deg);
	top: 200px;
	left:600px;
	}
}


/*Instagram icon i bunden af siden*/

.gg-instagram {
box-sizing: border-box;
position: relative;
display: block;
transform: scale(var(--ggs,1));
border: 2px transparent;
box-shadow: 0 0 0 2px;
border-radius: 4px;
width: 20px;
height: 20px
}

.gg-instagram::after,
.gg-instagram::before {
content: "";
display: block;
box-sizing: border-box;
position: absolute
}

.gg-instagram::after {
border: 2px solid;
left: 3px;
width: 10px;
height: 10px;
border-radius: 100%;
top: 3px
}

.gg-instagram::before {
border-radius: 3px;
width: 2px;
height: 2px;
background: currentColor;
right: 1px;
top: 1px
}

.overAllButton {
	color: #613;
	background-color: #c061cb;
	font-size: 19px;
	border: 5px solid #613583;
	padding: 10px 65px;
	letter-spacing: 15px;
	cursor: pointer
}
.overAllButton:hover {
	color: #c061cb;
	background-color: #613583;
}

.content {
max-width: 500px;
margin: auto;
}
